@model IEnumerable<companhia_aerea.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumVoos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumVoos)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="margin-right: 10px; text-decoration: none;">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" style="margin-right: 10px;text-decoration: none">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="bi bi-trash"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
